.categories {
    width: 30%;
    height: 100%;
    float: left;
    background-color: darkturquoise;
}

label {
    float: left;
    margin-left: .5em;
    margin-right: .5em;
}
  
input {
    font-family: monospace;
    font-size: 1em;
    width: 15em;
}

button {
    font-size: 1em;
}