.categories {
    width: 30vw;
    /* TODO - have to find 100% height solution when using width */
    height: 600px;
    padding: 1em;
    float: left;
    background-color: darkturquoise;
}

label {
    margin-left: .5em;
    margin-right: .5em;
}

button {
    font-size: 1em;
    margin-right: .5em;
}
