.episodes {
    /* AUDRY - width is wrong because of padding. shrug? */
    width: 65vw;
    /* TODO - have to find 100% height solution when using width */
    height: 600px;
    padding: 1em;
    float: left;
    background-color: lightgray;
}
 